<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      Create New Note
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <%= render 'form', note: @note %>
      </blockquote>
    </div>
  </div>
</div>
<hr>
<div class="container" id="notes">
  <% @notes.each do |note| %>
    <%= render 'note', note: note %>
  <% end %>
</div>

<div class="first wrap"><button type="button" id="scroll" style="position: fixed; bottom: 10px; right: 10px;">Scroll To Top</button></div>

<script>
    $(document).ready(function () {
        let converter = new showdown.Converter();
        let pad = document.getElementById('note_description');
        let markdownArea = document.getElementById('markdown');
        let convertTextAreaToMarkdown = function(){
            let markdownText = pad.value;
            let html = converter.makeHtml(markdownText);
            markdownArea.innerHTML = html;
        };
        $(document).on('input', pad, convertTextAreaToMarkdown);
        convertTextAreaToMarkdown();

        $("#scroll").click(function() {
            $('html,body').animate({scrollTop: $(".navbar").offset().top}, 'slow');
        });
    });
</script>